.home{
    padding-top: 80px;
}

.home__resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.resume__img{
    margin: 20px 0;
    width: 150px;
    border-radius: 50%;
}

.resume__paragraph{
    padding: 0 2rem;
    line-height: 1.5;
}

.home__title{
    text-align: center;
    margin: 20px 0;
}


.home__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.9rem 0.5rem;
}