.header{
    position: fixed;
    width: 100%;
    background-color: var(--dark-cyan);
}

.header__container{
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color:white;
    font-size: 1.5rem;
}
.header__mobile{
    width: 35px;
    cursor: pointer;
}
.header__nav{
    display: none;
}